{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Reset Password{% endblock %}</h1>
{% endblock%}
{% block content %}
  <form method='post'>
    <label for='username'>Username</label>
    <input name='username' id='username' required />
    <label for='OriginalPassword'>Original Password</label>
    <input type='password' name='OriginalPassword' id='OriginalPassword' required />
    <label for='NewPassword1'>New Password</label>
    <input type='password' name='NewPassword1' id='NewPassword1' required />
    <label for='NewPassword2'>Verify Password</label>
    <input type='password' name='NewPassword2' id='NewPassword2' required />
    <input type='submit' value='Reset'>
  </form>
{% endblock%}
